.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 40px;

  h1, h3 {
    color: white;
    margin: 0;
    text-transform: uppercase;
  }
}
